<div class="container">
  <%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <div class="d-flex">
        <%= f.input :int_type, collection: [ "Conventionnel", "Commercial", "Civil"], as: :radio_buttons %>
         <div class ="ml-3" id="taux-conv">
           <%= f.input :percentage, as: :float, placeholder: "%" %>
         </div>
      </div>
    </div>

  <div class="flex-container">
  <div class="table-container">
    <table class='table'>
    <thead>
        <tr>
            <th colspan="4">Créances</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Description</th>
            <th scope="col"class="stitre">Montant</th>
        </tr>
    </thead>
      <tbody class="fields-credit">
          <%= f.simple_fields_for :credits do |builder| %>
            <%= render 'credit', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="4">Frais</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Description</th>
            <th scope="col" class="stitre">Montant</th>
        </tr>
    </thead>
        <tbody class="fields-cost">
          <%= f.simple_fields_for :costs do |builder| %>
            <%= render 'cost', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="3">Payements</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Montant</th>
        </tr>
    </thead>
      <tbody class="fields-payment">
          <%= f.simple_fields_for :payments do |builder| %>
            <%= render 'payment', f: builder %>
          <% end %>
      </tbody>
      
      <thead>
        <tr>
            <th colspan="2">capitalisation</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
        </tr>
    </thead>
          <tbody class="fields-capitalisation">
          <%= f.simple_fields_for :capitalisations do |builder| %>
            <%= render 'capitalisation', f: builder %>
          <% end %>
      </tbody>
     </table>
  </div>

      <div class="bt-container p-5">
        <%= link_to_add_row('Nouvelle Créance', f, :credits, class: 'btn btn-primary') %>
        <%= link_to_add_row2('Nouveau Payement', f, :payments, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row3('Nouveau Coût', f, :costs, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row4('Capitaliser', f, :capitalisations, class: 'btn btn-primary mt-3') %>
        <%= f.button :submit, 'Sauvegarder', class: 'btn btn-primary mt-3' %>
        <% if @account.id %>
          <%= link_to "Calculer", account_path(@account), class: "btn btn-primary mt-3" %>
        <% end %>
        <%= link_to 'Home', accounts_path, class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>    
</div>
<div class="container">
  <%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <div class="d-flex">
        <%= f.input :int_type, collection: [ "Conventionnel", "Commercial", "Civil"], as: :radio_buttons %>
         <div class ="ml-3" id="taux-conv">
           <%= f.input :percentage, as: :float, placeholder: "%" %>
         </div>
      </div>
    </div>

  <div class="flex-container">
  <div class="table-container">
    <table class='table'>
    <thead>
        <tr>
            <th colspan="4">Créances</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Description</th>
            <th scope="col"class="stitre">Montant</th>
        </tr>
    </thead>
      <tbody class="fields-credit">
          <%= f.simple_fields_for :credits do |builder| %>
            <%= render 'credit', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="4">Frais</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Description</th>
            <th scope="col" class="stitre">Montant</th>
        </tr>
    </thead>
        <tbody class="fields-cost">
          <%= f.simple_fields_for :costs do |builder| %>
            <%= render 'cost', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="3">Payements</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
            <th scope="col" class="stitre">Montant</th>
        </tr>
    </thead>
      <tbody class="fields-payment">
          <%= f.simple_fields_for :payments do |builder| %>
            <%= render 'payment', f: builder %>
          <% end %>
      </tbody>
      
      <thead>
        <tr>
            <th colspan="2">capitalisation</th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre">Date</th>
        </tr>
    </thead>
          <tbody class="fields-capitalisation">
          <%= f.simple_fields_for :capitalisations do |builder| %>
            <%= render 'capitalisation', f: builder %>
          <% end %>
      </tbody>
     </table>
  </div>

      <div class="bt-container p-5">
        <%= link_to_add_row('Nouvelle Créance', f, :credits, class: 'btn btn-primary') %>
        <%= link_to_add_row2('Nouveau Payement', f, :payments, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row3('Nouveau Coût', f, :costs, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row4('Capitaliser', f, :capitalisations, class: 'btn btn-primary mt-3') %>
        <%= f.button :submit, 'Sauvegarder', class: 'btn btn-primary mt-3' %>
        <% if @account.id %>
          <%= link_to "Calculer", account_path(@account), class: "btn btn-primary mt-3" %>
        <% end %>
        <%= link_to 'Home', accounts_path, class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>    
</div>

