<div class="container">
  <%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>    
      <div class="d-flex">
        <div>
          <%= f.input :int_type, as: :radio_buttons, 
                       collection: Account::INT_TYPE, :label_method => lambda { |key| I18n.t(key.first.downcase, scope: "activerecord")} %>
        </div>
        <div class='d-flex'>
          <div class ="ml-3" id="taux-conv" style="display: none">
            <%= f.input :percentage, as: :float, placeholder: "%" %>
          </div>
          <div class ="ml-3" id="switch" style="display: none">
            <%= f.input :switch_date, collection: [ ["avant", "avant"], ["à partir du", "à partir du"]], 
                        :label_method => lambda { |key| I18n.t(key.first.downcase, scope: "activerecord")},
                         as: :radio_buttons, wrapper: :custom_collection_inline,
                         label: (t ".switch") %>
          </div>
        </div>
      </div>
    </div>

  <div class="flex-container">
  <div class="table-container">
    <table class='table'>
    <thead>
        <tr>
            <th colspan="4"><%= t ".créances" %></th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre"><%= t ".date" %></th>
            <th scope="col" class="stitre"><%= t ".description" %></th>
            <th scope="col"class="stitre"><%= t ".montant" %></th>
        </tr>
    </thead>
      <tbody class="fields-credit" id="crd">
          <%= f.simple_fields_for :credits do |builder| %>
            <%= render 'credit', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="4"><%= t ".frais" %></th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre"><%= t ".date" %></th>
            <th scope="col" class="stitre"><%= t ".description" %></th>
            <th scope="col" class="stitre"><%= t ".montant" %></th>
        </tr>
    </thead>
        <tbody class="fields-cost" id="cst">
          <%= f.simple_fields_for :costs do |builder| %>
            <%= render 'cost', f: builder %>
          <% end %>
      </tbody>

      <thead>
        <tr>
            <th colspan="3"><%= t ".payements" %></th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre"><%= t ".date" %></th>
            <th scope="col" class="stitre"><%= t ".montant" %></th>
        </tr>
    </thead>
      <tbody class="fields-payment" id="pmt">
          <%= f.simple_fields_for :payments do |builder| %>
            <%= render 'payment', f: builder %>
          <% end %>
      </tbody>
      
      <thead>
        <tr>
            <th colspan="2"><%= t ".capitalisation" %></th>
        </tr>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="stitre"><%= t ".date" %></th>
        </tr>
    </thead>
          <tbody class="fields-capitalisation" id="cpt">
          <%= f.simple_fields_for :capitalisations do |builder| %>
            <%= render 'capitalisation', f: builder %>
          <% end %>
      </tbody>
     </table>
  </div>

      <div class="bt-container p-5">
        <%= link_to_add_row((t ".nouvelle_créance"), f, :credits, class: 'btn btn-primary') %>
        <%= link_to_add_row((t ".nouveau_coût"), f, :costs, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row((t ".nouveau_payement"), f, :payments, class: 'btn btn-primary mt-3') %>
        <%= link_to_add_row((t ".capitaliser"), f, :capitalisations, class: 'btn btn-primary mt-3') %>
        <%= f.button :submit, (t '.sauvegarder'), class: 'btn btn-primary mt-3' %>
        <% if @account.id %>
          <%= link_to (t ".calculer"), account_path(@account), class: "btn btn-primary mt-3", id: 'calc' %>
        <% end %>
        <%= link_to 'Home', accounts_path, class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>    
</div>
