<div class="container"> 
  <h1><%= t ".title", name: @account.name %><%= l(@account.date, format: :my_format) %></h1>
  <h3><%= t ".interest", type: t(@account.int_type.downcase, scope: "activerecord") %></h3>
  <% if @account.int_type == "Commercial" %>
    <p><%= t(@account.switch_date) %><%= t ".switch", switch: @account.switch_date %></p>
  <% end %>
  <br>
  <table class="table table-sm table-striped">
    <thead>
      <tr class='table-active'><th scope="col"><%= t ".date" %></th><th class="right" scope="col"><%= t ".créances" %></th></tr>
    </thead>
    <tbody>
      <% @credits.each do |cr| %>
        <tr>
          <td><%= cr.date.strftime("%d-%m-%Y") %></td>
          <td class="right"><%= "#{cr.description} #{number_to_currency(cr.amount, locale: :fr)}" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <% if !@costs.empty? %>
  <table class="table table-sm table-striped">
    <thead>
      <tr class='table-active'><th scope="col"><%= t ".date" %></th><th class="right" scope="col"><%= t ".frais" %></th></tr>
    </thead>
    <tbody>
      <% @costs.each do |cst| %>
        <tr>
          <td><%= cst.date.strftime("%d-%m-%Y") %></td>
          <td class="right"><%= "#{cst.description} #{number_to_currency(cst.amount, locale: :fr)}" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <% end %>

  <% if !@payments.empty? %>
  <table class="table table-sm table-striped">
    <thead>
      <tr class='table-active'><th scope="col"><%= t ".date" %></th><th class="right" scope="col"><%= t ".payements" %></th></tr>
    </thead>
    <tbody>
      <% @payments.each do |pm| %>
        <tr>
          <td><%= pm.date.strftime("%d-%m-%Y") %></td>
          <td class="right"><%= number_to_currency(pm.amount, locale: :fr) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <% end %>

  <% if !@capitalisations.empty? %>
      <% tabcap = [] %>
      <% @capitalisations.each { |cap| tabcap << cap.date } %>
      <table class="table table-sm table-striped">
        <thead>
          <tr class='table-active'><th scope="col"><%= t ".date-capitalisation" %></th></tr>
        </thead>
        <tbody>
          <% tabcap.sort.each do |cap| %>
            <tr>
              <td><%= cap.strftime("%d-%m-%Y") %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
  <% end %>

<div class="card-total-account">
  <div class="ml-1">
  <strong><%= t ".total" %></strong>
  </div>
  <div class="mr-1">
    <strong><%=  number_to_currency((@soldek.last + @soldeint.last + @soldecosts.last), locale: :fr) %></strong>
  </div>
</div>

  <% clas = [] %>
  <div class="flex-container">
    <div>
      <% @periods.each_with_index do |p, ip| %>
        <% classes = @clas[ip] %>  
        <% classes.each_with_index do |c, icl| %> 
          <% case classes[icl] %>
              <% when "Rate" %>
                <% classes[icl] = (t ".changement") %>
              <% when "Capitalisation" %>
              <% classes[icl] = (t ".capitalisation") %>
              <% when "Payment" %>
                <% classes[icl] = (t ".payement") %>
              <% when "Account" %>
                <% classes[icl] = (t ".fin") %>
            <% end %>
          <% end %>
        <ul>
        
        <strong><%= "#{ip + 1}. #{t ".période"} #{p.date.strftime("%d-%m-%Y")} #{t ".au"} #{p.date_fin.strftime("%d-%m-%Y")}" %></strong>
        <%= "#{t ".int"} #{number_to_percentage((p.rate.pct * 100), locale: :fr)} #{t ".jsq"} : " %>
        <% classes.each do |c| %>
          <% if c == classes.last %>
            <span style="color: rgb(17, 129, 107)"><strong><%= "#{c})" %></strong></span>
          <% else %>
            <span style="color: rgb(17, 129, 107)"><strong><%= "#{c} &" %></strong></span>
          <% end %>
        <% end %>
        
        <% if ip > 0 && @soldek[ip - 1] > 0 %>
          <% dd = @dd[ip] %>
          <% df = @df[ip] %>
          <div>
            <% if Date.gregorian_leap?(dd.year) && Date.gregorian_leap?((p.date_fin - 1).year) %>
              <%div = 366%>
            <%else%>
              <%div = 365%>
            <%end%>
            <table>
              <tr>
                <td><%= t ".reporté" %></td>
                <td><%= "#{number_to_currency((@soldek[ip - 1] * (df - dd) / div * p.rate.pct), locale: :fr)} (#{(df - dd).to_i} #{t ".jours"})"%></td>
              </tr>
            </table>
          </div>
        <% end %>
        <table>
        <% @costs.inperiod(p).each do |cst| %>
        <tr>
          <td><%= "#{cst.description} : #{number_to_currency(cst.amount, locale: :fr)}" %></td>
        </tr>  
        <% end %></table>

        
        <table>
        <% @credits.inperiod(p).each_with_index do |cr, ic| %>
        <tr>
          <td><%= "#{t ".int_cr"} #{number_to_currency(cr.amount, locale: :fr)} 
              #{t ".du"} #{cr.date.strftime("%d-%m-%Y")} (#{(@df[ip] - cr.date).to_i} #{t ".jours"}) = " %></td>
            <% if ip > 0 %> 
              <td class="right sml"><%= "#{number_to_currency(@interets[ip][ic + 2], locale: :fr)}" %></td>
            <% else %>
              <td class="right sml"><%= "#{number_to_currency(@interets[ip][ic], locale: :fr)}" %></td>
            <% end %>
          <% end %>
          </tr>
        </table>
        <div class="d-flex">
          <% if @payments.find_by(date: p.date_fin) %>
            <div class="compte">
              <table>
                <tr>
                  <td class="left"><%= t ".capital_cumulé" %></td>
                  <td class="right"><%= number_to_currency(@kapital[ip].sum, locale: :fr) %></td>
                </tr>
                <tr>
                  <td class="left"><%= t ".intérêts_cumulés" %></td>
                  <td class="right"><%= number_to_currency(@interets[ip].sum, locale: :fr) %></td>
                </tr>
                <tr>
                  <td class="left"><%= t ".frais_cumulés" %></td>
                  <td class="right"><%= number_to_currency(@couts[ip].sum, locale: :fr) %></td>
                </tr>
              </table> 
            </div>
          <% end %>
          <% if @pmt[ip] > 0 %>
            <div class="p-2">
            <%= "#{t ".paiement_du"} #{(p.date_fin).strftime("%d-%m-%Y")} :" %>
            <br>
            <%= number_to_currency(@pmt[ip], locale: :fr) %>
            </div>
          <% end %>
        <div class="compte">
        <table>
        <tr>
          <td class="left"><%= t ".solde_capital" %></td>
          <td class="right"><%= number_to_currency(@soldek[ip], locale: :fr)%></td>
        </tr>
        <tr>
          <td class="left"><%= t ".solde_intérêts" %></td>
          <td class="right"><%= number_to_currency(@soldeint[ip], locale: :fr)%></td>
        </tr>
        <tr>
          <td class="left"><%= t ".solde_frais" %></td>
          <td class="right"><%= number_to_currency(@soldecosts[ip], locale: :fr)%></td>
        </tr>
        </table>
        </div>
        </div>
        <strong><%= "Total: #{number_to_currency((@soldek[ip] + @soldeint[ip] + @soldecosts[ip]), locale: :fr)}" %></strong>
        </ul>
      <% end %>
    </div>

    <% @account.update(total: (@soldek.last + @soldeint.last + @soldecosts.last)) %>

    <div class="bt-container p-5">
      <%= link_to (t ".supprimer"), account_path(@account), method: :delete, class: "btn btn-primary mt-5" %>
      <%= link_to (t ".modifier"), edit_account_path(@account), class: "btn btn-primary mt-5" %>
      <%= link_to (t ".décomptes"), accounts_path, class: "btn btn-primary mt-5" %>
    </div>
  </div>
</div>